node-red.flow
[
    {
        "id": "60921085.49545",
        "type": "tab",
        "label": "Flood Barrier Model",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd125220.f7553",
        "type": "inject",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/gatemotorfwd",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "9f358cf4.e3ba"
            ]
        ]
    },
    {
        "id": "9f358cf4.e3ba",
        "type": "mqtt out",
        "z": "60921085.49545",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "574c6d3.c9a6294",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "12ee0075.09475",
        "type": "inject",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/gatemotorbrk",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "9f358cf4.e3ba"
            ]
        ]
    },
    {
        "id": "db56c800.d4eaf8",
        "type": "inject",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/gatemotorrev",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "9f358cf4.e3ba"
            ]
        ]
    },
    {
        "id": "21ee41be.45d23e",
        "type": "comment",
        "z": "60921085.49545",
        "name": "River Level",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "ebeafb00.adefb8",
        "type": "mqtt in",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "574c6d3.c9a6294",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "e8d7b1f2.fe5a6"
            ]
        ]
    },
    {
        "id": "e8d7b1f2.fe5a6",
        "type": "debug",
        "z": "60921085.49545",
        "name": "DEBUG Floodbarrier",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 960,
        "wires": []
    },
    {
        "id": "a2e018e4.2c3f98",
        "type": "ui_chart",
        "z": "60921085.49545",
        "name": "Chart River Level Abs NHN",
        "group": "cb28e5a8.1fa548",
        "order": 4,
        "width": "3",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 860,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0327bd.a61d38",
        "type": "ui_gauge",
        "z": "60921085.49545",
        "name": "Gauge River Level Abs NHN",
        "group": "cb28e5a8.1fa548",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Absolut cm ü. NHN",
        "label": "cm",
        "format": "{{value}}",
        "min": "-200",
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860,
        "y": 680,
        "wires": []
    },
    {
        "id": "6cc3514a.5b84e",
        "type": "ui_gauge",
        "z": "60921085.49545",
        "name": "Gauge River Level Rel PNP",
        "group": "cb28e5a8.1fa548",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Relativ zum PNP cm",
        "label": "cm",
        "format": "{{value}}",
        "min": "200",
        "max": "900",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "30f7ced9.1d5f72",
        "type": "ui_chart",
        "z": "60921085.49545",
        "name": "Chart River Level Rel PNP",
        "group": "cb28e5a8.1fa548",
        "order": 10,
        "width": "3",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 860,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "402d1440.0b2e4c",
        "type": "ui_text",
        "z": "60921085.49545",
        "group": "cb28e5a8.1fa548",
        "order": 12,
        "width": "6",
        "height": "1",
        "name": "Text River Elbe Ref Info",
        "label": "",
        "format": "",
        "layout": "col-center",
        "x": 850,
        "y": 900,
        "wires": []
    },
    {
        "id": "20477d21.0e9942",
        "type": "ui_template",
        "z": "60921085.49545",
        "group": "cb28e5a8.1fa548",
        "name": "Template River Elbe Ref Info",
        "order": 8,
        "width": "6",
        "height": "1",
        "format": "<div ng-style=\"{'background-color': 'lightgray', 'color': 'black', 'font-size': '0.6em'}\" >\n    PNP -5,006 m. ü. NHN<br>\n    Messwerte ungeprüft, Quelle www.pegelonline.wsv.de\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "402d1440.0b2e4c"
            ]
        ]
    },
    {
        "id": "52fcf336.12f77c",
        "type": "comment",
        "z": "60921085.49545",
        "name": "Gate Motor Control",
        "info": "Controlt the Lego Powerfunctions Motor",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "98e20d85.d89bd",
        "type": "comment",
        "z": "60921085.49545",
        "name": "Gate State Control",
        "info": "Control the Gate State:\n0=Gate Closed\n1=Gate Open",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "9af83e0c.a29e6",
        "type": "mqtt out",
        "z": "60921085.49545",
        "name": "Publish floodbarrier/gateopen or close",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "574c6d3.c9a6294",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "ebf667a3.fef278",
        "type": "inject",
        "z": "60921085.49545",
        "name": "Set Gate State Threshold",
        "topic": "",
        "payload": "210",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "3bb039b1.ec2cb6"
            ]
        ]
    },
    {
        "id": "99803f13.fb4cc",
        "type": "mqtt out",
        "z": "60921085.49545",
        "name": "Publish floodbarrier/gatestatethreshold",
        "topic": "floodbarrier/gatestatethreshold",
        "qos": "",
        "retain": "",
        "broker": "574c6d3.c9a6294",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5e7171b.3b4a18",
        "type": "mqtt out",
        "z": "60921085.49545",
        "name": "Publish floodbarrier/rivertide",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "574c6d3.c9a6294",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "4d96e4c6.39fadc",
        "type": "mqtt in",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/riverlevelabsnhn",
        "qos": "2",
        "datatype": "auto",
        "broker": "574c6d3.c9a6294",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "9e0327bd.a61d38",
                "a2e018e4.2c3f98"
            ]
        ]
    },
    {
        "id": "305ce336.a81cec",
        "type": "mqtt in",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/riverlevelrelpnp",
        "qos": "2",
        "datatype": "auto",
        "broker": "574c6d3.c9a6294",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "6cc3514a.5b84e",
                "30f7ced9.1d5f72"
            ]
        ]
    },
    {
        "id": "3dc67367.14930c",
        "type": "mqtt in",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/rivertide",
        "qos": "2",
        "datatype": "auto",
        "broker": "574c6d3.c9a6294",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "b5e7171b.3b4a18"
            ]
        ]
    },
    {
        "id": "f48dd4eb.83cc08",
        "type": "inject",
        "z": "60921085.49545",
        "name": "Inject Clear Chart",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "4ff26bc.a409094"
            ]
        ]
    },
    {
        "id": "4ff26bc.a409094",
        "type": "ui_button",
        "z": "60921085.49545",
        "name": "Clear Charts",
        "group": "debeb1a0.a1f48",
        "order": 15,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Charts löschen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "30f7ced9.1d5f72",
                "a2e018e4.2c3f98"
            ]
        ]
    },
    {
        "id": "a1f7b752.733f88",
        "type": "ui_text",
        "z": "60921085.49545",
        "group": "34dc63ec.bf0fbc",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Text Gate State",
        "label": "Tor Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "3bb039b1.ec2cb6",
        "type": "ui_text_input",
        "z": "60921085.49545",
        "name": "Input Gate State Threshold",
        "label": "Tor schließen bei Abs NHN (cm)",
        "tooltip": "",
        "group": "34dc63ec.bf0fbc",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "99803f13.fb4cc"
            ]
        ]
    },
    {
        "id": "68fd9411.d9dfec",
        "type": "mqtt in",
        "z": "60921085.49545",
        "name": "",
        "topic": "floodbarrier/gatestate",
        "qos": "2",
        "datatype": "auto",
        "broker": "574c6d3.c9a6294",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "8d58797b.717508"
            ]
        ]
    },
    {
        "id": "f3fd079f.6b5228",
        "type": "ui_button",
        "z": "60921085.49545",
        "name": "Button Set Gate State 1 (open)",
        "group": "34dc63ec.bf0fbc",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "AUF",
        "tooltip": "",
        "color": "#000000",
        "bgcolor": "#00FF00",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "8bba22a7.03c4"
            ]
        ]
    },
    {
        "id": "5ce0e05d.9fe0a",
        "type": "ui_button",
        "z": "60921085.49545",
        "name": "Button Set Gate State 0 (closed)",
        "group": "34dc63ec.bf0fbc",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ZU",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "8bba22a7.03c4"
            ]
        ]
    },
    {
        "id": "8bba22a7.03c4",
        "type": "function",
        "z": "60921085.49545",
        "name": "Set Gate State Topic",
        "func": "var gatestateCurrent = flow.get(\"gatestate\");\nvar gatestateNew = Number(msg.payload);\n// node.warn(\"Gate Current:\" + gatestateCurrent + \", New:\" + gatestateNew);\n\nif (gatestateNew != gatestateCurrent) {\n\n    if (gatestateNew === 0) {\n        msg.topic = \"floodbarrier/gateclose\"\n    }\n    if (gatestateNew === 1) {\n        msg.topic = \"floodbarrier/gateopen\"\n    }\n    msg.payload = gatestateNew;\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "9af83e0c.a29e6"
            ]
        ]
    },
    {
        "id": "8d58797b.717508",
        "type": "function",
        "z": "60921085.49545",
        "name": "Set Gate State Context & Text",
        "func": "var gatestateCurrent = Number(msg.payload);\nflow.set(\"gatestate\", gatestateCurrent);\n// node.warn(\"Gate Current:\" + gatestateCurrent);\n\nif (gatestateCurrent === 0) {\n    msg.payload = \"ZU\"\n}\n\nif (gatestateCurrent === 1) {\n    msg.payload = \"AUF\"\n}\n\nreturn msg;    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "a1f7b752.733f88"
            ]
        ]
    },
    {
        "id": "574c6d3.c9a6294",
        "type": "mqtt-broker",
        "z": "",
        "name": "Broker Localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cb28e5a8.1fa548",
        "type": "ui_group",
        "z": "",
        "name": "Elbe Wasserstand Schulau",
        "tab": "ab9d9e84.0a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "debeb1a0.a1f48",
        "type": "ui_group",
        "z": "",
        "name": "Optionen",
        "tab": "ab9d9e84.0a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34dc63ec.bf0fbc",
        "type": "ui_group",
        "z": "",
        "name": "Tor",
        "tab": "ab9d9e84.0a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab9d9e84.0a7",
        "type": "ui_tab",
        "z": "",
        "name": "Flood Barrier Model",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]